body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E3D9D7; /* color de la paleta */
  font-family: Arial, sans-serif;
  color: #224C65;
}

.container {
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  text-align: center;
  width: 320px;
  position: relative;
}

.back-arrow {
  position: absolute;
  top: 15px;
  left: 15px;
  text-decoration: none;
  font-size: 22px;
  color: #224C65;
}

.logo img {
  width: 120px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 25px;
  font-size: 1.5em;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group input {
  padding: 10px;
  border: 2px solid #828E94;
  border-radius: 20px;
  font-size: 15px;
  outline: none;
}

.input-group input:focus {
  border-color: #C07F3D;
}

.btn {
  margin-top: 25px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 20px;
  background-color: #224C65;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #C07F3D;
}
